.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
  }
  
/* Hide native checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The track track of the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 34px;
}

/* The circular inner thumb knob */
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
  
}

.slider:before.sun-content {
  /* content: "☀️"; */
  content: "\2600"; /* Unicode for ☀ */
color: #ff9d00;
}

.slider.active:before.moon-content {
  content: "\263E"; /* Unicode for ☾ */
color: #95a5a6;
}

/* Track color changes when active */
.slider.active {
  background-color: #4CAF50; /* Green */
}
  
/* Slide the knob to the right when active */
.slider.active:before {
  transform: translateX(24px);
}

.toggle-button {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  gap:2px;
  background-color: #d7d4d4;
  padding: 4px;
  border-radius: 5px;
}

.theme-btn {
  margin: 0px !important;
  padding: 2px 8px !important;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  background: #b2b6cf;
  color: #484b7c;
  transition: 0.3s;
}

.theme-btn:disabled {
  background: #1e2387;
  color: white;
  cursor: not-allowed;
  transition: 0.3s;
}